.root {
  color: #fff;

  a,
  button,
  svg {
    color: inherit;
    font-size: 1rem;
    line-height: 1.5;
  }

  button {
    padding-top: 0;
    padding-bottom: 0;
    text-transform: none;
  }
}

.language-selector-container {
  .language-selector {
    padding-right: 0;

    > div {
      padding-right: 0 !important;
    }
  }

  * {
    color: inherit !important;
    font-size: 1rem !important;
    border: none !important;

    &:hover {
      border: "none" !important;
    }
  }
}
