cypress/
.yarn/

# All node_modules directories
node_modules
**/node_modules

# Docker
.dockerignore
Dockerfile
Dockerfile.*
docker-compose.*
docker

# Git
.git
.gitattributes
.gitignore
.husky

# GitHub
.github
README.md
LICENSE.txt
SECURITY.md

# IDE
.idea
.vscode
.editorconfig

# Log files
logs
*.log

# Next.js
.next

# Node JS
*.suo
*.sln
.npm

# npm
!.npmrc

# Secrets
**/.env.local
**/.env.*.local

# Temp files
tmp
*.tmp

# Tools caches
.cache/*
tsconfig.tsbuildinfo
.eslintcache

# Used when building with nextjs (next-eslint)
!.eslintignore
!eslint.config.js
!.prettierignore
!prettier.config.js

# Yarn
!.yarnrc.yml
!.yarn/plugins
!.yarn/releases
