.env
next-env.d.ts
.turbo

# workbox
**/public/workbox-*.js*
**/public/sw.js*
**/public/worker-*.js
**/public/fallback-*.js

# compiled output
.next
/dist
/tmp

# dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Sentry
.sentryclirc
