.env
next-env.d.ts
.turbo
.jwt_rsa.pem
_*


# workbox
**/public/workbox-*.js*
**/public/sw.js*
**/public/worker-*.js
**/public/fallback-*.js

# compiled output
.next
/dist
/tmp

# dependencies
node_modules

# Generated
resume*.pdf

# Sentry
.sentryclirc

# Sentry
next.config.original.js

# Sentry
next.config.wizardcopy.js

# Sentry Config File
.sentryclirc

# Sentry Config File
.sentryclirc
