x-default: &default
  deploy:
    restart_policy:
      condition: "${DOCKER_DEFAULT_RESTART_POLICY:-unless-stopped}"
  env_file:
    - .env

# https://docs.docker.com/compose/environment-variables/envvars/#compose_project_name
name: jacobjove

services:
  front:
    <<: *default
    image: ghcr.io/jacobjove/jacobjove:latest
    ports:
      - ${PORT}:${PORT}
    environment:
      NEXTAUTH_URL_INTERNAL: "http://front:${PORT}"
      NEXTAUTH_URL: "https://jacobjove.org"
      NODE_ENV: production

volumes:
  db:
    driver: local
