services:
  front:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
      args:
        - PORT=${PORT}
    environment:
      BASE_URL: "http://localhost:${PORT}"
      NEXTAUTH_URL: "http://localhost:${PORT}"
      REACT_EDITOR: code
