.root {
  color: #fff;
}

.root a,
.root button,
.root svg {
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
}

.root button {
  padding-top: 0;
  padding-bottom: 0;
  text-transform: none;
}

.language-selector-container .language-selector {
  padding-right: 0;
}

.language-selector-container .language-selector > div {
  padding-right: 0 !important;
}

.language-selector-container .language-selector * {
  /* color: inherit !important; */
  font-size: 1rem !important;
  border: none !important;
}

.language-selector-container .language-selector *:hover {
  border: "none" !important;
}
