---
import { getCollection } from 'astro:content';
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const projects =
  (await getCollection('work')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  ) && [];
---

<BaseLayout title="Blog | Jacob Jove" description="Read my latest thoughts.">
  <div class="stack gap-20">
    <div class="wrapper stack gap-8">
    {
      projects.length > 0 ? (
          <Hero title="Blog" tagline="See my most recent posts below." align="start" />
          <Grid variant="offset">
            {projects.map((project) => (
              <li>
                <PortfolioPreview project={project} />
              </li>
            ))}
          </Grid>
      ) : (
        <Hero title="Blog" tagline="Nothing here yet, but check back soon!" align="start" />
      )
    }
  </div>
  <ContactCTA />
</BaseLayout>
