# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: integration
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths-ignore:
      - .gitignore
      - .github/**
      - "!.github/workflows/integration.yml"
      - .idea/**
      - .vscode/**
      - "**.md"
      - "**.rst"
  # schedule:
  #   - cron: 0 9 * * *
  workflow_dispatch:
    inputs:
      jobs:
        description: Comma-separated list of names of jobs to trigger
        required: false
        default: build

jobs:
  changed-files:
    name: Get changed files
    runs-on: ubuntu-latest
    outputs:
      added-files: ${{ steps.changed-files.outputs.added_files }}
      deleted-files: ${{ steps.changed-files.outputs.deleted_files }}
      modified-files: ${{ steps.changed-files.outputs.modified_files }}
      all-changed-files: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v29.0.7
  build:
    name: Build image
    needs: changed-files
    runs-on: ubuntu-latest
    environment: test
    if: github.actor != 'depbot'
    steps:
      - name: Check out main branch
        uses: actions/checkout@v3
      - name: Specify Docker Compose version
        run: |
          echo ""
          echo "Installed version: $(docker compose version)"
          version=2.2.1
          docker compose version | grep --quiet "$version" || {
            echo "Installing Docker Compose version $version ..."
            mkdir -p ~/.docker/cli-plugins/
            curl -SL "https://github.com/docker/compose/releases/download/v${version}/docker-compose-linux-x86_64" -o ~/.docker/cli-plugins/docker-compose
            chmod +x ~/.docker/cli-plugins/docker-compose
            echo "Installed version: $(docker compose version)"
          }
      - name: Configure Docker Compose
        shell: bash
        run: |
          echo "Configuring Docker Compose..."
          if [[ -f docker-compose.test.yml ]]; then
            echo "Using docker-compose.test.yml for default overrides..."
            cp docker-compose.test.yml docker-compose.override.yml
          fi
          echo "Done."
      - name: Generate .env file
        uses: iacobfred/generate-dotenv@v0.2.6
        with:
          template-paths: |
            .config/_.env
        env:
          DOMAIN: ${{ secrets.DOMAIN }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          GLITCHTIP_BASE_URL: ${{ secrets.GLITCHTIP_BASE_URL }}
          DEFAULT_FROM_EMAIL: ${{ secrets.DEFAULT_FROM_EMAIL }}
          EMAIL_URL: ${{ secrets.EMAIL_URL }}
